.nav {
    margin: 10px;
    display: flex;
    justify-content: flex-end;    
}


.travel {
    display: flex;
    gap: 20px;
}


.navigation-link {
    border: none;
    background-color: rgba(200, 90, 150, 0.7);
}